doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <form method="POST" action="/new">
        input(type="text" placeholder="user" name="messageUser")
        input(type="text" placeholder="message" name="messageText")
        button Submit
    </form>
